body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top, .footer {
    background-color: #d319d3;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.header_links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    gap: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
}

.hero_main, .images {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero_secondary, .header_links, .image, .footer {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    display: flex;
    flex-shrink: 0;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    min-height: 186px;
    max-width: 500px;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}
button, .green {
    display: flex;
    color: white;
    background-color: #27a501;
    border-radius: 5px;
}
button {
    justify-content: center;
    width: 150px;
    height: 30px;
    padding: 5px;
    flex-shrink: 0;
}

.green button {
    border: 2px solid white
}

.green {
    padding: 25px 50px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.a {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-shrink: 0;
}

div .a {
    display: flex;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #1f2937;
}

.b {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #27a501;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 150px;
  }

  .description {
    text-align:center;
  }

.section_1 {
    display: flex;
    flex-direction: column;
    padding: 0 150px 50px
}

.section_2 {
    background-color: #f3c9fc;
    display: flex;
    flex-direction: column;
    padding: 50px 200px 100px
}

.section_3 {
    padding: 70px 100px
}

.author {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-right: 50px;
}

.quote {
    display: flex;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 10px;
    margin-top: 75px;
}

.bold_text {
    font-weight: bold;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 100px;
}


/* images.html */


.collage {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.icon {
    width: 40%;
    height: fit-content;
}

.images {
    padding: 50px;
    margin-left: 30px;
}